<menu></menu>
<section class="greenBar"></section>
<div class="portfolioWrapper">

<div class="project" ng-repeat="project in portfolioData">
	<div class="projectTop">
			<img class="thumbnail" ng-src="{{project.thumbnail}}" alt="">

			<div class="projectTopRight">
				<div class="description">
					<div class="title">{{project.title}}</div>
					<div class="descriptionText">{{project.description}}</div>
				</div>
				<div class="buttons">
				<a class="viewButton" ng-click="showInfo = !showInfo" target="_blank">Specs</a>
				<a class="viewButton" ng-href="{{project.url}}" target="_blank">View</a>
				</div>
			</div>
		</div>
		<div class="projectBottom" ng-show="showInfo">
			<div class="bottomSection">
				<div class="bottomTitle">Features</div>
				<div class="bottomText">
					<ul>
						<li ng-repeat="feature in project.features">{{feature}}</li>
					</ul>
					
				</div>
			</div>
			
			<div class="bottomSection">
				<div class="bottomTitle">Technologies</div>
				<div class="bottomText">
					<ul>
					<li ng-repeat="technology in project.technologies">{{technology}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>
